.search-result{
  &__error{
    font-size: 13px;
    color: #000;
    margin-top: 10px;
  }

  &__data{
    margin-top: 10px;
  }

  &__data-item{
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #e0e0e0;
  }

  &__data-item-title{
    margin-bottom: 5px;

    span{
      font-weight: bold;
      font-size: 14px;
    }
  }

  &__data-item-artist{
    margin-bottom: 5px;

    span{
      font-weight: bold;
      font-size: 14px;
    }
  }

  &__data-item-button{
    width: 150px;
    height: 25px;
    -webkit-appearance: none;
    border: 0;
    font-size: 12px;
    background-color: #b5b5b5;

    &:disabled{
      background-color: #dadada;

      &:hover{
        cursor: default;
      }
    }

    &:hover{
      cursor: pointer;
      background-color: #dadada;
    }
  }
}